<!-- ---
const { title } = Astro.props;
---
<html lang="en">
  <body>
    <header style="display: flex; align-items: center; gap: 1rem;">
      <img src="/LXLogo.png" alt="Logo" style="height: 40px;" />
      <h1>{ title } dude</h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html> -->